/* tag generici */
* {
    margin: 0;
    padding: 0;
    font-weight: 600;
}
main {
    margin-left: 10px;
}

.color-blue {
color: #559EF6;
}

.grey {
    color: grey;
}

/* header */

header {
    background-color: #559EF6;
    background-image: url(../img/pattern.png);
    background-size: 30%;
    background-repeat: repeat;
}

 #titolo {
   height: 50px;
   padding-top: 50px;
   padding-left: 10px;
   padding-bottom: 10px;
}

 /* main */
 h1 {
    margin-top: 15px;
    font-size: 50px;
}
 
img {
    padding-top: 20px;
}

.article {
    margin-top:20px;
    margin-bottom: 20px;
}

.thead {
    background-color: #559EF6;
    color: #fff;
    text-align: left;
}

ul {
    margin-top: 20px;
    list-style-position: inside;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tbody tr:nth-child(odd) {
    background-color: aqua;
}

h2 {
    margin:10px;
}
.other-article1 {
    margin-top: 10px;
    height: 150px;
    width: 200px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.other-article2 {
    margin-top: 10px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    height: 150px;
    width: 200px;
    background-size: contain;
}
h3 {
    padding: 15px;
    color: white;
}
